$gradient1: hsl(236, 72%, 79%);
$gradient2: hsl(237, 63%, 64%);

$verylightgrayishblue: hsl(240, 78%, 98%);
$lightgrayishblue: hsl(234, 14%, 74%);
$grayishblue: hsl(233, 13%, 49%);
$darkgrayishblue: hsl(232, 13%, 33%);